<!DOCTYPE html>
<html>
  <head>
    <title>Carrito de compras</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
  </head>


  <body>

    <%- include('../partials/header.ejs') %> 
  
    <main>
<h1>FATAL ERROR</h1>
    </main>
  
    <%- include('../partials/footer.ejs') %> 
  
  </body>
</html>