<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link href="/css/register.css" rel="stylesheet" type="text/css">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <script src="/js/testPass.js"></script>
  </head>

  <body>
    <%- include('../partials/header.ejs') %> 
    <main>
      <section class="section" id="inicio">
        <h1>SelfLove</h1>
        <p>Buscamos Cambios</p>
      </section>

      <h1 class="welcome">Registro</h1>
 <div class="regBox">
      <fieldset>
        <form action="/signup" method="post" class="sendReq">
          <label for="user" >Nombre de usuario: </label>
          <input
            type="text"
            placeholder="Nombre de usuario"
            name="user"
            id="user">

            <label for="name" >Nombre y apellido: </label>
          <input
            type="text"
            placeholder="Nombre"
            name="name"
            id="name">

          <label for="pass">Contraseña: </label>
          <input
              type="password"
              placeholder="Contraseña"
              name="pass"
              id="pass">


              <label for="num">Numero de celular: </label>
          <input
              type="number"
              placeholder="Numero de celular"
              name="num"
              id="num">
        
        <input type="submit" value="Ingresar" class="sumbit">
      </form>
    </div>
  </main>

    <%- include('../partials/footer.ejs') %> 
    
  </body>
</html>