<!DOCTYPE html>
<html>
  <head>
    <title>Registro</title>
    <link href="/css/register.css" rel="stylesheet" type="text/css">
    <link href="/css/home.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <script src="/js/testPass.js"></script>
  </head>

  <body>
    <%- include('../partials/header.ejs') %> 
    <main>
      <section class="section" id="inicio">
        <h1>SelfLove</h1>
        <p>Buscamos Cambios</p>
      </section>

      <h1 class="welcome">Registro</h1>
 
        </form>
        <br>
        <form action="/signup" method="post"><div>
            <label for="user">Nombre de usuario: </label>
        </div>
            <input
                type="text"
                placeholder="Nombre de usuario"
                name="user"
                id="user">
       
        <br><div>
        <label for="pass">Contraseña: </label>
    </div>
            <input
                type="password"
                placeholder="Contraseña"
                name="pass"
                id="pass">
        
        <input type="submit">
    </form>
</div>
    </body>


    </main>

    <%- include('../partials/footer.ejs') %> 
    
  </body>
</html>